/* These styles are responsible for the body of page */
/* they can be inherited by all other nested styles, divisions and spans */

body
{
	margin: 4px 12px 4px 22px;
	padding: 0;
	font: 11px/1.1 Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-image: url(../images/bkground.gif);
	background-repeat: repeat;
}

img { border-width: 0; }
	
/* These ones control appearance of articles, centre blocks, messages and admin panels */

.opentable
{
	background-color: #f1f1f1;
	width: 100%;
	padding: 2px;
	border-color: #f9f9f9;
	border-width: 2px 3px 3px 2px;
	border-style: groove;
	margin: 5px 0 0 0;
}

.opentable2
{
	background-color: white;
	width: 100%;
	padding: 2px;
	border-color: silver;
	border-width: 2px 3px 3px 2px;
	border-style: groove;
	margin: 5px 0 0 0;
}

.central-area
{
	background-color: transparent;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.central-area table, b, i, p, center, form
{
	font-size: 11px;
	text-align: left;
}

.central-area .pn-title, .pn-pagetitle, .pn-logo
{
	font-size: 12px;
	text-align: left;
}

a.central-area
{
	font-weight: bold;
	color: #C00;
	text-decoration: none;
}

.central-area a:link { font-weight: bold; text-decoration: none; color: #C00;}
.central-area a:visited { font-weight: bold; text-decoration: none; color: #C00;}
.central-area a:hover { font-weight: bold; text-decoration: underline; color: #C00;}
.central-area a:active { font-weight: bold; text-decoration: none; color: #C00;}

.article-table
{
	background-color: white;
	font: 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	padding: 3px;
	border-color: silver;
	border-width: 1pt;
	border-style: solid;
}

.article-table-text { font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif; }

a.article-table { font-weight: bold; color: #C00; text-decoration: none; }

.article-table a:link { text-decoration: none; color: #c00;}
.article-table a:visited { text-decoration: none; color: #c00;}
.article-table a:hover { text-decoration: underline; color: #C00;}
.article-table a:active { text-decoration: none; color: #c00;}

.article-table table
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #f1f1f1;
	width: 100%;
}

.article-table .pn-title { color: black; }

/* Below are utility classes, we can use them to control appearance of individual elements */

.logo { background-color: transparent; }

.banner
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.border1
{
	border-width: 1px;
	border-color: silver;
	border-style: solid;
	background-color: #b1b1b1;
}

.border2
{
	border-width: 2px;
	border-color: silver;
	border-style: groove;
	padding: 4px 0px 1px 6px;
	margin: 0 0 0 -8px;
}

.border3
{
	border-width: 1px;
	border-color: #000;
	border-style: dotted;
	padding: 2px;
}

.bar-top-left
{
	background-color: transparent;
	background-image: url(../images/bar_top_left.gif);
	background-repeat: no-repeat;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

.bar-top-text
{
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

.bar-top-middle
{
	height: 40px;
	background-color: transparent;
	background-image: url(../images/bar_top_middle.gif);
	background-repeat: repeat-x;
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

.bar-top-middle a:link, a:visited, a:active
{
	color: silver;
	font-weight: bold;
	text-decoration: none;
}

.bar-top-middle a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.bar-top-form
{
	font: 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: silver;
}

.bar-top-form input
{
	font: 10px monaco, courier, monospace;
	color: black;
	background-color: silver;
	vertical-align: middle;
}

.bar-top-right
{

}

.menu-title
{
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	width: 145px;
}

.spacer-top-middle
{
	/* 	height: 11px; */
	/* 	background-color: transparent; */
	background-image: url(../images/spacer_top_middle.gif);
	background-repeat: repeat-x;
}

/* Controlling appearance of the left menus */

.menu-middle-left
{
	width: 168px;
	background-color: transparent;
	background-image: url(../images/menu_middle_left.gif);
	background-repeat: repeat-y;
}

.menu-middle-left a:link
{
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 11px;

}

.menu-middle-left a:visited
{
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 11px;
}

.menu-middle-left a:hover
{
	color: #fc6;
	text-decoration: underline;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
    line-height: 11px;
}

.menu-middle-left a:active
{
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	line-height: 11px;
}   

.menu-middle-left td
{
	color: #fff;
	text-decoration: none;
    font-family: tahoma, verdana, helvetica, arial, sans-serif;
    font-weight: normal;
	font-size: 10px;
}

.menu-middle-left .menu-title
{
	color: #fc6;
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0.05em;
	word-spacing: 0.15em;
}

.menu-middle-left strong
{
	color: #fc6;
	font-weight: 900;
}

/* Centre blocks and admin messages */

.message-centre
{ 
    font-family: tahoma, verdana, helvetica, arial, sans-serif;
    font-weight: normal;
	font-size: 10px;
	border-style: none;
}

.message-centre .border2
{
	border-style: none;
	border-width: 0;
	padding: 0;
}

.message-centre td
{
	font-family: tahoma, verdana, helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: 11px;
    border-style: none;
    border: 1px;
	padding: 3px;
}

.message-centre .pn-title
{
	font-family: helvetica, arial, sans-serif;
	color: #C00;
	font-weight: bold;
	font-size: 12pt;
}

/* Right menus */

.menu-middle-right
{
	width: 165px;
}

.menu-middle-right strong
{
	color: black;
	font-weight: 900;
}

.menu-middle-right a:link
{
	color: #000;
	text-decoration: none;
}

.menu-middle-right a:visited
{
	color: #000;
	text-decoration: none;
}

.menu-middle-right a:hover
{
	color: black;
	text-decoration: underline;
}

.menu-middle-right a:active
{
	color: #000;
	text-decoration: none;
}

.menu-middle-right .pn-normal
{
	color: #5a5a5a;
	text-decoration: none;
	font-family: tahoma, geneva, verdana, helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.menu-middle-right .pn-title
{
	color: #5a5a5a;
	text-decoration: none;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
}

.menu-middle-rightborder
{
	background-color: transparent;
	background-image: url(../images/menu_middle_right.gif);
	background-repeat: repeat-y;
}

/* Bottom spacer and bar */

.bar-bottom-middle-spacer
{
	background-color: transparent;
	background-image: url(../images/spacer_bottom_middle.gif);
	background-repeat: repeat-x;
}

.bar-bottom-middle
{
	color: silver;
	background-color: transparent;
	background-image: url(../images/bar_bottom_middle.gif);
	background-repeat: repeat-x;
}

.bar-bottom-middle a:link, a:visited, a:active
{
	color: silver;
	font-weight: bold;
	text-decoration: none;
}

.bar-bottom-middle a:hover
{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.credits
{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
	line-height: 11px;
}

.credits a
{
	color: black;
	font-weight: bold;
}

/* Legacy styles, maybe used by some old modules */

textarea {
border-bottom-width: 1px;
border-color: #000000;
border-left-width: 1px;
border-right-width: 1px;
border-style: solid;
border-top-width: 1px;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
text-indent: 2px;
}

input {
/* background-color: transparent; */
/* border-bottom-width: 1px; */
/* border-color: #000000; */
/* border-left-width: 1px; */
/* border-right-width: 1px; */
/* border-top-width: 1px; */
/* color: #000000; */
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-indent: 2px;
}

input.pn-text {
/* background-color: #D9DCC2; */
/* border-bottom-width: 1px; */
/* border-color: #000000; */
/* border-left-width: 1px; */
/* border-right-width: 1px; */
/* border-top-width: 1px; */
/* color: #000000; */
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-indent: 2px;
}

input.pn-button {
/* border-bottom-width: 1px; */
/* border-left-width: 1px; */
/* border-right-width: 1px; */
/* border-top-width: 1px; */
/* color: #000000; */
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-indent: 2px;
}

input.r-button
{
	background-color: inherit;
	font-family: Tahoma, Verdana, sans-serif;
}

select {
background-color: #F7F7F7;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
}

select.pn-text {
background-color: #F7F7F7;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
}

.pn-normal {
background-color: transparent;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
}

.pn-title
{
	background-color: transparent;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.pn-sub
{
	background-color: transparent;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}

.pn-logo {
background-color: transparent;
font-family: Tahoma, Verdana, sans-serif;
font-size: 13px;
font-weight: bold;
text-decoration: none;
}

.pn-logo-small {
background-color: transparent;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: bold;
text-decoration: none;
}

.pn-pagetitle {
background-color: transparent;
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}