BODY  { 
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	font-size: x-small;
	COLOR: #333333;
	BACKGROUND: #FFFFFF;  
}
TD {
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	FONT-SIZE: x-small;
}

.tdback { 
background-image: url(/themes/SeaBreeze/images/right_bkg.gif);
} 
.headerbackground { 
background-image: url(/themes/SeaBreeze/images/hbkg.gif);
}
.footerbackground { 
background-image: url(/themes/SeaBreeze/images/footerbkg.gif);
}
TEXTAREA.pn-text {
COLOR: #000000;
FONT-SIZE: x-small;
BACKGROUND: #F3F3F3; 
}
SELECT.pn-text {
FONT-SIZE: x-small;
COLOR: #000000; 
BACKGROUND: #FFFFCC; /* #F3F3F3; */ 

}
INPUT {
	font-size: x-small;
	color: #000000;
	background : #FDFDD9;
}
INPUT.pn-text,
INPUT.pn-button {
	font-size: x-small;
	color: #000000;
	background : #FFFFCC;
}
INPUT.r-button {
	FONT-SIZE: x-small;
	COLOR: #000000; 
	BACKGROUND : none; 
}
A {
	COLOR: #4C5EA8;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	background: none;
}
A:visited {
	COLOR: #4C5EA8;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	background: none;
}
A:hover {
	COLOR: #CC6600;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	background: none;
}
A:active {
	COLOR: #CC6600;
	FONT-FAMILY: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
	background: none;
}
TD.pn-normal {
	BACKGROUND: none; 
	COLOR: #333333;
	FONT: x-small Verdana, Helvetica, sans-serif;
	TEXT-DECORATION: none}

.pn-normal {
	FONT: x-small Verdana, Helvetica, sans-serif;
	COLOR: #333333;
	TEXT-DECORATION: none;
	BACKGROUND: none;
} /* 8px/16px */

A.pn-normal:link,
A.pn-normal:visited {
	FONT: x-small Verdana, Helvetica, sans-serif;
	COLOR: #4C5EA8; 
	TEXT-DECORATION: underline;
	BACKGROUND: none; 
}
A.pn-normal:hover {
	FONT: x-small Verdana, Helvetica, sans-serif; 
	COLOR: #CC6600;
	TEXT-DECORATION: underline;
	BACKGROUND: none; 
}
A.pn-normal:active {
	FONT: x-small Verdana, Helvetica, sans-serif; 
	COLOR: #FF9900;
	TEXT-DECORATION: underline;
	BACKGROUND: none; 
}
.pn-title {
	FONT: bold normal small Verdana, Arial, Helvetica, sans-serif;
	COLOR: #CC6600;
	TEXT-DECORATION: none;
	BACKGROUND: none;
}
TD.pn-title {
	FONT: bold normal small Verdana, Helvetica, sans-serif;
	COLOR: #4C5EA8;
	TEXT-DECORATION: none;
	BACKGROUND: none;
	text-transform: capitalize;
}
SPAN.pn-title,
A.pn-title:link,
A.pn-title:visited {
	FONT: bold normal small Verdana, Arial, Helvetica, sans-serif;
	COLOR: #4C5EA8;
	TEXT-DECORATION: underline;
	BACKGROUND: none;
}
A.pn-title:hover {
	FONT: bold normal small Verdana, Arial, Helvetica, sans-serif;
	COLOR: #CC6600;
	TEXT-DECORATION: underline;
	BACKGROUND: none;

}
A.pn-title:active {
	FONT: bold normal small Verdana, Arial, Helvetica, sans-serif;
	COLOR: #FF9900;
	TEXT-DECORATION: underline;
	BACKGROUND: none;
}
SPAN.pn-title { 
	FONT: bold normal small Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none; 
}
A.pn-hometext {
BACKGROUND: none; 
COLOR: #000000;
FONT: x-small Verdana, Arial, Helvetica, sans-serif; 
TEXT-DECORATION: underline
}

A.pn-hometext:visited	{
	BACKGROUND: none;
	FONT: normal x-small Verdana, Arial, Helvetica, sans-serif;
	COLOR: #4C5EA8;
	TEXT-DECORATION: underline;
	text-transform: none;
}

A.pn-hometext:hover {
	BACKGROUND: none; 
	FONT: x-small Verdana, Helvetica, sans-serif; 
	COLOR: #CC6600;
	TEXT-DECORATION: underline
}
A.pn-hometext:active {
	BACKGROUND: none; 
	FONT: x-small Verdana, Helvetica, sans-serif; 
	COLOR: #000000;
	TEXT-DECORATION: underline
}
TD.pn-hometext {
	BACKGROUND: none; 
	FONT: x-small Verdana, Helvetica, sans-serif; 
	COLOR: #000000;
	TEXT-DECORATION: none}

.pn-art {
BACKGROUND: none; 
COLOR: #191919;
FONT: normal small Verdana, Helvetica, sans-serif;
TEXT-DECORATION: none}

A.pn-sub:link {
	FONT: xx-small Verdana, Helvetica, sans-serif; 
	COLOR: #666666;
	TEXT-DECORATION: underline;
	BACKGROUND: none;
}
A.pn-sub:visited {
	COLOR: #4C5EA8; }
A.pn-sub:hover {
	COLOR: #CC6600; }
A.pn-sub:active {
	color: #FF9900; }

A.pn-logo:link {
FONT: bold x-small Verdana, Helvetica, sans-serif; 
	COLOR: #CC6600;
	text-decoration: none;
	background: none;
}	
A.pn-logo:visited {
	COLOR: #990000;
	font-weight: bold;
	text-decoration: none;
	background: none;
}
A.pn-logo:hover {
	FONT-FAMILY: Verdana, Helvetica, sans-serif; 
	COLOR: #CC6600; 
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	BACKGROUND: none;
}
A.pn-logo:active {
FONT: x-small Verdana,Helvetica,sans-serif; 
	COLOR: #FFFFFF;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	BACKGROUND: none;
}
A.pn-storytitle {
	FONT-SIZE: x-small;
	COLOR: #990000;
	TEXT-DECORATION: none;
	BACKGROUND: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
}
A.pn-storytitle:visited {
	FONT-SIZE: x-small;
	COLOR: #660000;
	TEXT-DECORATION: none;
	BACKGROUND: none;
	line-height: 1.5;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
}
A.pn-storytitle:hover {
	FONT-SIZE: x-small;
	COLOR: #990000;
	TEXT-DECORATION: none;
	BACKGROUND: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
}
.pn-logo {
FONT: bold x-small Verdana, Helvetica, sans-serif; 
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	BACKGROUND: none;
}
.pn-logo-x-small {
	FONT: bold x-small Verdana, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	background: none;
}
.pn-pagetitle {
	FONT: bold small Verdana, Helvetica, sans-serif;
	COLOR: #4C5EA8;
	text-decoration: none;
	background: none;
}
.pn-storytitle {
	FONT: bold normal small Verdana, Helvetica, sans-serif;
	COLOR: #990000;
	TEXT-DECORATION: none;
	BACKGROUND: none;
	text-transform: capitalize;
}
.pn-sub,
.Toplinks {
	COLOR: #000000; 
	FONT: x-small Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.pn-title-lblock {
	FONT: bold normal x-small Verdana, Helvetica, sans-serif;
	COLOR: #CC6600;
	text-decoration: none;
	text-transform: uppercase;
} 

.pn-title-rblock {
	FONT: bold normal x-small Verdana, Helvetica, sans-serif;
	COLOR: #CC6600;
	text-decoration: none;
} 
.pn-rblock {  
	FONT: x-small Verdana, Helvetica, sans-serif;
	color: #000000; 
	text-decoration: none;
	BACKGROUND: #CCCCCC; 
} 

/* Centre blocks and admin messages */
/* .message-centre { 
	FONT: normal 10px Verdana, Helvetica, sans-serif;
	border-style: none;
}
.message-centre .border2 {
	border-style: none;
	border-width: 0;
	padding: 0;
} */
TD.message-centre {
	FONT: normal x-small Verdana, Helvetica, sans-serif;
}
.message-centre .pn-title
{
FONT: bold small Verdana, Helvetica, sans-serif;
color: #990000;
}
DIV.pn-sub A.pn-normal {
	FONT: small Verdana,Helvetica,sans-serif; 
	color: #666666;
} 
DIV.pn-sub A.pn-normal:visited {
	color: #4C5EA8;
}
DIV.pn-sub A.pn-normal:hover {
	color: #CC6600;
}
DIV.pn-sub A.pn-normal:active {
	color: #FF9900;
}
.pnleft {
	vertical-align: middle; 
	float: left;
	clear: left;
	text-align: left;
}
.pnright {
	vertical-align: middle; 
	float: right;
	clear: right;
	text-align: right;
}