BODY {
background: #F6F7EB;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
}

TD {
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
}

TH {
font-family: Tahoma, Verdana, sans-serif;
font-size: 13px;
}

TEXTAREA {
background-color: transparent;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
text-indent: 2px;
}

INPUT {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: normal;
text-indent: 2px;
}

INPUT.pn-text {
background-color: #D9DCC2;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: normal;
text-indent: 2px;
}

INPUT.pn-button {
background-color: #D9DCC2;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: normal;
text-indent: 2px;
}

INPUT.r-button {
background-color: transparent;
font-family: Tahoma, Verdana, sans-serif;
}

SELECT {
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
}

SELECT.pn-text {
background-color: #D9DCC2;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: bold;
}

A:link {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:visited {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:hover {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

A:active {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: none;
}

.pn-normal {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: normal;
text-decoration: none;
}

.pn-normal A:link {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

.pn-normal A:visited {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

.pn-normal A:hover {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: underline;
}

.pn-normal A:active {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
text-decoration: none;
}

.pn-title {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}

.pn-title A:link {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: underline;
}

.pn-title A:visited {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: underline;
}

.pn-title A:hover {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}

.pn-title A:active {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}

.pn-sub {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-weight: normal;
text-decoration: none;
}

.pn-sub A:link {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-style: normal;
text-decoration: underline;
}

.pn-sub A:visited {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-style: normal;
text-decoration: underline;
}

.pn-sub A:hover {
background-color: #FFFFFF;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-style: normal;
text-decoration: none;
}

.pn-sub A:active {
color: #FF0000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 10px;
font-style: normal;
text-decoration: underline;
}

.pn-logo {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
text-decoration: none;
}

A.pn-logo:link {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
text-decoration: none;
}

A.pn-logo:visited {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
text-decoration: none;
}

A.pn-logo:hover {
background-color: #B1B78B;
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
text-decoration: none;
}

A.pn-logo:active {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 16px;
font-weight: bold;
letter-spacing: 3px;
text-decoration: none;
}

.pn-logo-small {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 11px;
font-weight: bold;
text-decoration: none;
}

.pn-pagetitle {
color: #000000;
font-family: Tahoma, Verdana, sans-serif;
font-size: 14px;
font-weight: bold;
text-decoration: none;
}